In [9]:
import twint
import pandas as pd

In [30]:
# Configure
c = twint.Config()

# Keyword = bule bali berulah, ulah bule bali, kampung bule bali, polah bule bali, bule bali helm,
#           usaha bule bali,Bule langgar aturan, Bule nakal, Bule ganggu, Bule bangsat, Bule goblok, Bule kere, Bule ngemis
#           Gentrifikasi bali, Bule bule bali

c.Search = 'Bule bule bali'
c.Store_csv = True
c.Output = 'coba15.csv'
c.Since = '2022-01-01'
c.Until = '2023-04-03'
c.Limit = 5000
#c.Format = 'ID {id} | Username {username} | Tweets {tweets} | Url {url}'

# Run
twint.run.Search(c)

RuntimeError: This event loop is already running

1642585439386365952 2023-04-03 00:51:01 +0700 <likecruelsummer> Bule-bule kalo ga ignorant ya islamophobic atau engga ya perusuh kyk yg di Bali wkwkwk
1641676613581684736 2023-03-31 12:39:40 +0700 <paidjo_slebor> @CNNIDdaily Ini sdh lama, Dan @wayankoster2014 hanya diam saja ato mungkin dia terima upeti makanya tindakan bule itu di diamkan sj, Sejak koster jd gubenur bali menjadi jajahan bule bule kere, mrk semaunya sendiri tanoa menghormati hukum dan buadaya di bali
1641652683911348224 2023-03-31 11:04:34 +0700 <maesthi> @kompascom Yg ada Indonesia di Coret Pak, selalu bikin gaduh,, udah ngurusin rakyat Bali mu aja pak, jngan sampai ekonomi mereka dijajah bule bule , tanah kau obral buat bule bule,
1641542676872065024 2023-03-31 03:47:27 +0700 <inibeginiyamas> Bali tepatnya Denpasar banyak kali hiburan dan gak berhenti dari pagi ke pagi lagi bisa di nikmati sayang aja bule bule ini udah terlanjur nyaman di Indonesia, tapi ngg liat pasport batas kunjungan ke sini
1641447306762543104 2023-03-30 21:28:29 +0700 <uwaysaputra> Mending urus Bali dulu deh pak Koster. Yg di bikin jelek Ama bule bule gembel, trs yg pendatang lokal bikin rusuh.
1641426899745529857 2023-03-30 20:07:23 +0700 <Panjiasmr_> @idextratime Selain bule bule di bali yang nyebelin ternyata gubernurnya lebih nyebelin
1641414641703354370 2023-03-30 19:18:41 +0700 <yudibastos> Urusin dulu ruska ruska rese di Bali. Bule bule overstay ðŸ¤£ðŸ¤£ðŸ¤£ðŸ¤£
1641333917960802306 2023-03-30 13:57:55 +0700 <rindu_kampungku> @duwiantoo ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚..bentar lagi bule bule pada kabur dr Bali...
1641188105045823488 2023-03-30 04:18:30 +0700 <adebaim92> @PathRpm @gibran_tweet Iyaaaa ini makin parah nanti, apa lagi di tambah di Bali bule bule kena omel, pasti Mereka cerita di yt ya itu si bule ,, ngenes banget kalo sampe gagal di indo
1641129732317282305 2023-03-30 00:26:33 +0700 <Anwar56060086> @idextratime Capres 2024 tidak bakal kepilih luh... Bule-bule jg ga akan ada lg liburan ke bali.
1641113377069236225 2023-03-29 23:21:34 +0700 <sewnsi> LU MENDING URUSIN BULE BULE GAJE YG DI BALI AJA COK, GAUSA NIMBRUNG KE SEPAK BOLA
1640785735791034368 2023-03-29 01:39:38 +0700 <jordannugraha> Sok-sok an mau jaga Bali, urus noh bule bule koplak yang ada di Bali kalo mau jaga Bali
1640729561670270977 2023-03-28 21:56:25 +0700 <wahyudiprojo> @MurtadhaOne1 @gibran_tweet Pindahin aja ke solo, bali biarin aja urusannya sama bule bule di pantai
1640686190029602817 2023-03-28 19:04:04 +0700 <satriaherta> @idextratime Perwakilan fifa kayak bule bule di bali
1640644721931583488 2023-03-28 16:19:18 +0700 <kikitaroreh> @ch_chotimah2 Kebijakan yg di tiru bule bule di BaliðŸ˜‚ðŸ˜‚ðŸ˜‚mau di dalam nya,tapi ngk mau ikutin aturannya(loe pikir FIFA punya loe)
1640629619740258304 2023-03-28 15:19:17 +0700 <NdyDepari> @CNNIndonesia Urus dulu masalah Bule-bule, turis-turis nakal di Bali sana Koster. Ngurus itu aja ga becus, sok sok pula kau ngurus Bola.
1640498397152169984 2023-03-28 06:37:51 +0700 <muktitrio_> Kalo karena amanat UUD jadi ga bisa kasih ijin ke pemain Israel, berarti harusnya lebih gampang dong buat usir bule-bule Rusia yang gesrek di Bali ?
1640486558133264384 2023-03-28 05:50:48 +0700 <raisabino> Chris hemsworth naik motor di Bali kek melebur jd bule bule kismin yg nyebelin ðŸ˜­ tp ganteng
1640424397675823104 2023-03-28 01:43:48 +0700 <bebekantariksa> @kumparan Bali sok tegas sama israel. Lo urusin noh bule bule yang pada bikin usaha di bali. Bego.
1640343299096707073 2023-03-27 20:21:33 +0700 <NdyDepari> @alextham878 Wayan, ngurus bule-bule bermasalah di Bali aja masih keteteran. Sok belagu pulak itu ngurus Timnas U-20 Israel
1640198194515570688 2023-03-27 10:44:57 +0700 <detikcom> Bule-bule Rusia di Bali diduga bikin perkampungan eksklusif di Kuta Selatan. Wagub Bali, Cok Ace pun tak terima!   https://t.co/m7nyWKFPeV
1640186577933713408 2023-03-27 09:58:48 +0700 <ganitri> Fokus ke video-nya..tumben diriku setuju sama omongan Bule ðŸ¥²  Pak @sandiuno jangan 'jual' Pulau Bali kami sebagai pulau murah lah Pak..harga diri bangsa dan negara lo ini..pusing kami liat kelakuan bule bule 'murah' disini
1639958649673224192 2023-03-26 18:53:05 +0700 <miun_samin> Gubernur Bali cuma terima 1. Sabu 2. Minuman keras 3. Jablay impor 4. Bule-bule yang terkena PHK di negaranya.  Puas ya semua Fifa Batalkan undian di Bali.
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [36]:
coba = pd.read_csv('coba.csv')
coba2 = pd.read_csv('coba2.csv')
coba3 = pd.read_csv('coba3.csv')
coba4 = pd.read_csv('coba4.csv')
#coba5 = pd.read_csv('coba5.csv')
coba6 = pd.read_csv('coba6.csv')
coba7 = pd.read_csv('coba7.csv')
coba8 = pd.read_csv('coba8.csv')
coba9 = pd.read_csv('coba9.csv')
coba10 = pd.read_csv('coba10.csv')
coba11 = pd.read_csv('coba11.csv')
coba12 = pd.read_csv('coba12.csv')
coba13 = pd.read_csv('coba13.csv')
coba14 = pd.read_csv('coba14.csv')
coba15 = pd.read_csv('coba15.csv')

In [52]:
coba_append = coba_append.append(coba15)
coba_append

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1641032074587979777,1641031093297004546,2023-03-29 17:58:30 SE Asia Standard Time,2023-03-29,17:58:30,700,1416012792579072002,earllwl,lav ender,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'threesummers_', 'name': 'Nan...",NaN,NaN,NaN,NaN
1,1640601848502525953,1640601848502525953,2023-03-28 13:28:56 SE Asia Standard Time,2023-03-28,13:28:56,700,69183155,detikcom,detikcom,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1640566457309470720,1640566457309470720,2023-03-28 11:08:18 SE Asia Standard Time,2023-03-28,11:08:18,700,1530721279862484993,fsbali88,Dev Bot,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1640220806062960644,1640220806062960644,2023-03-27 12:14:48 SE Asia Standard Time,2023-03-27,12:14:48,700,749916902437236736,pedomanrakyat,Pedoman Rakyat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
0,1642124921710198785,1641649781528469505,2023-04-01 18:21:05 SE Asia Standard Time,2023-04-01,18:21:05,700,57238332,pdo3004,Cabe Jawa,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'detikcom', 'name': 'detikcom...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,1640424397675823104,1640247688624209920,2023-03-28 01:43:48 SE Asia Standard Time,2023-03-28,01:43:48,700,1241019256705146881,bebekantariksa,Stars,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'kumparan', 'name': 'kumparan...",NaN,NaN,NaN,NaN
19,1640343299096707073,1640314758212771840,2023-03-27 20:21:33 SE Asia Standard Time,2023-03-27,20:21:33,700,1565956827208384512,ndydepari,Uncle Black,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'alextham878', 'name': 'ðŸ‡²ðŸ’¤ðŸ‡¯ðŸ‡µðŸ…°...",NaN,NaN,NaN,NaN
20,1640198194515570688,1640198194515570688,2023-03-27 10:44:57 SE Asia Standard Time,2023-03-27,10:44:57,700,69183155,detikcom,detikcom,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
21,1640186577933713408,1640186577933713408,2023-03-27 09:58:48 SE Asia Standard Time,2023-03-27,09:58:48,700,69155840,ganitri,Satvika Ganitri,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
22,1639958649673224192,1639958649673224192,2023-03-26 18:53:05 SE Asia Standard Time,2023-03-26,18:53:05,700,844764013472858116,miun_samin,samin,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [53]:
coba_append.axes[1]

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [55]:
coba_append_cp = coba_append.copy()
coba_append_cp = coba_append_cp.drop(columns = ['conversation_id', 'created_at', 'timezone', 'place', 'photos', 'replies_count', 'retweets_count', 'likes_count','retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src'])

In [58]:
coba_append_cp.axes[1]

Index(['id', 'date', 'time', 'user_id', 'username', 'name', 'tweet',
       'language', 'mentions', 'urls', 'hashtags', 'cashtags', 'link',
       'retweet', 'quote_url', 'video', 'thumbnail', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'trans_dest'],
      dtype='object')

In [64]:
coba_append_cp['user_rt_id']

0    NaN
1    NaN
2    NaN
3    NaN
0    NaN
      ..
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
Name: user_rt_id, Length: 549, dtype: float64

In [65]:
coba_append_cp = coba_append_cp.drop(columns =['hashtags', 'cashtags', 'trans_dest', 'video', 'thumbnail', 'near', 'geo','source','user_rt_id', 'user_rt'])

In [69]:
coba_append_cp.axes[1]

Index(['id', 'date', 'time', 'user_id', 'username', 'name', 'tweet',
       'language', 'mentions', 'urls', 'link', 'retweet', 'quote_url'],
      dtype='object')

In [70]:
coba_append_cp = coba_append_cp.drop(columns = ['retweet', 'quote_url', 'mentions', 'urls'])

In [78]:
coba_append_cp = coba_append_cp.reset_index().drop(columns = 'index')

In [89]:
coba_append_cp[coba_append_cp['language'] != 'in'].shape

(13, 9)

In [93]:
coba_append_cp.duplicated().sum()

10

In [94]:
coba_append_cp.to_csv('tweet_bule_bali.csv')